# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
[i for i in range(10) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# []-->list
# ()--> tuple
# {}--> set
# {key:value}

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
t5[-1][0]

4

### Editing items

In [ ]:
m=(1,2,3,4)

In [ ]:
type(m)

tuple

In [ ]:
m[3]=300

TypeError: 'tuple' object does not support item assignment

In [ ]:
"hello"

'hello'

In [ ]:
m

(1, 2, 3, 4)

In [ ]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [ ]:
print(t3)
del t3  #--> possible
# del t3[1] #--> not possible
print(t3)

(1, 2, 3, 4)

NameError: ignored

In [ ]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [ ]:
t=list(range(1,101))

In [ ]:
t[-1:-99:-3]

[100,
 97,
 94,
 91,
 88,
 85,
 82,
 79,
 76,
 73,
 70,
 67,
 64,
 61,
 58,
 55,
 52,
 49,
 46,
 43,
 40,
 37,
 34,
 31,
 28,
 25,
 22,
 19,
 16,
 13,
 10,
 7,
 4]

In [ ]:
print(t5)
del t5[-1]

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

### Operations on Tuples

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
print(1 in t1)
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
# count

t = (1,2,3,4,5,5,5)

t.count(5)

3

In [ ]:
# index
t.index(4)

3

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
T = tuple(range(10000))
L = list(range(10000))

In [ ]:
import time

In [ ]:
start1 = time.time()
for i in T:
     i*5
print('Tuple time',time.time()-start1)

Tuple time 0.0015902519226074219

In [ ]:
start = time.time()
for i in L:
     i*5
print('List time',time.time()-start)

List time 0.0016531944274902344

In [ ]:
import sys

L = list(range(100000000))
T = tuple(range(100000000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 800000056
Tuple size 800000040

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a + (4,)

# new value of a = old value of a + (4,)
print(a)
print(b)

(1, 2, 3)
(1, 2, 3, 4)

### Why use tuple?

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b,*ab = (1,2,3,8,8,9)
print(a,b,ab)

1 2 [3, 8, 8, 9]

In [ ]:
s="hello   world  lol"

In [ ]:
s.split(" ")

['hello', '', '', 'world', '', 'lol']

In [ ]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [ ]:
l="ABCDCDC"
l[0:2]
l[1:3]
l[2:4]

'CD'

In [ ]:
print(l[0:3])

ABC

In [ ]:
print(l[0:2])

In [ ]:
a,b,*u = [1,2,3,4,8,9,8]
print(a,b)
print(u)

1 2
[3, 4, 8, 9, 8]

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [ ]:
# {}  --> set
# []   --> list
# () ---tuple

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [ ]:
l={1,2,3,2,2,2,"hello"}

In [ ]:
l

{1, 2, 3, 'hello'}

In [ ]:
# if we can get values using index then it is ordered
#  if we cannot get values using index then it is unordered

In [ ]:
l[3]

TypeError: ignored

### Creating Sets

In [ ]:
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3,7,89])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
#s6 = {1,2,[3,4]}
#print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 'hello', 4.5}
{1, 2, 3, 7, 89}
{1, 2, 3}

In [ ]:
s2 = {1,2,3,{4,5}}

TypeError: ignored

In [ ]:
s1 = [1,2,3]

s2 = [3,2,1]
print(s1==s2)

False

In [ ]:
s1[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s1 = {1,2,3}

s2 = {3,2,1}


print(s1 == s2)

True

In [ ]:
### Accessing Items

In [ ]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: ignored

In [ ]:
# {1,2,3,4}
# 0 1 2 3   we donot have this concept in set that is why it is unordered

### Editing Items

In [ ]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

### Adding Items

In [ ]:
S = {1,2,3,4}
# add
S.add(7)
print(S)
# update
S.update([5,6,7,7])
print(S)

{1, 2, 3, 4, 7}
{1, 2, 3, 4, 5, 6, 7}

### Deleting Items

In [ ]:
# del
s = {1,2,3,4,5}
# print(s)
# del s[0]
# print(s)
#discard
# s.discard(4)
# print(s)
# remove
# s.remove(5)
# print(s)
# pop
# s.pop()
# clear
s.clear()
print(s)

set()

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1 | s2)
# Union(|)
# Intersection(&)
print(s1 & s2)
# Difference(-)
print(s1 - s2)
print(s2 - s1)
# Symmetric Difference(^)
print(s1 ^ s2)
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
1
2
3
4
5

In [ ]:
l=set(range(1,10000))

In [ ]:
o={3,674,63,1,78,99}

In [ ]:
for i in o:
  print(i)

1
674
99
3
78
63

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 ^ s2

{1, 2, 3, 6, 7, 8}

### Set Functions

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
k=s1.union(s2)
print(k)
print(s1)
print(s2)
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

k=s1.intersection(s2)
print(k)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

k=s1.difference(s2)
print(k)
print(id(k))
s1.difference_update(s2)
print(s1)
print(id(s1))
print(s2)
print(id(s2))

{1, 2, 3}
137553908657376
{1, 2, 3}
137553908655136
{4, 5, 6, 7, 8}
137553908656256

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3}

s1.issuperset(s2)

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(id(s1))
print(s2)
print(id(s2))

{1, 2, 3}
137553908658272
{1, 2, 3}
137553908659616

### Frozenset
Frozen set is just an immutable version of a Python set object
As a Dictionary Key:Since dictionaries in Python require keys to be immutable, you can use frozenset as keys in dictionaries.
This is useful when you need a set-like structure as a key for a dictionary.

In [ ]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
fs1.add(5)

AttributeError: ignored

### Set Comprehension

In [ ]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [ ]:
# examples

{i for i in range(101) if i%2==0}

{0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100}

In [ ]:
[1]

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [ ]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
print(d4)
# duplicate keys
d5 = {'name':'nitish','name':'rahul',"name":"ashu","name":"sam"}
print(d5)
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', 'age': 32, 3: 3}
{'name': 'sam'}
{'name': 'nitish', (1, 2, 3): 2}

In [ ]:
s.values()

dict_values(['nitish', 'bit', 4, {'dsa': 50, 'maths': 67, 'english': 34}])

In [ ]:
d5 = {'name':'nitish','name':'nitish'}
d5

{'name': 'nitish'}

### Accessing items

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'spark': 100}}

In [ ]:
dict = {'name': 'Jack', 'age': 56}
# []
# dict['name']
# get
dict.get('age')
s['subjects']['spark']=100

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['Jack']

KeyError: 'Jack'

### Adding key-value pair

In [ ]:
d4

{'name': 'nitish',
 'age': 32,
 3: 3,
 'gender': 'male',
 'weight': 72,
 'python': 90,
 'java': 89,
 'spark': 99}

In [ ]:
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4
d4["python"] = 90
d4["java"] = 89
d4["spark"] = 99
d4

# s['subjects']['ds'] = 75
# s

{'name': 'nitish',
 'age': 32,
 3: 3,
 'gender': 'male',
 'weight': 72,
 'python': 90,
 'java': 89,
 'spark': 99}

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

In [ ]:
del s['subjects']['maths']

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34}}

In [ ]:
d4["python"]

90

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 657}}

In [ ]:
s['subjects']['english']=657

### Remove key-value pair

In [ ]:
d = {'name': 'nitish', 'age': 32, 3:'null', 'gender': 'male', 'weight': 72}
# pop
# d.pop("age")
#print(d)
# popitem
# d.popitem()
# d.popitem()
# print(d)
# del
# del d['name']
#print(d)
# clear
# d.clear()
print(d)

# del s['subjects']['maths']
# s

TypeError: dict.popitem() takes no arguments (1 given)

### Editing key-value pair

In [ ]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'maths': 67, 'english': 34, 'spark': 100}}

### Dictionary Operations

- Membership
- Iteration

In [ ]:
print(s)

'college' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'maths': 67, 'english': 34, 'spark': 100}}

True

In [ ]:
d = {'name':'sanidhya','gender':'male','age':33}

for i in d:
  print(i,d[i])

name sanidhya
gender male
age 33

### Dictionary Functions

In [ ]:
d.items()

dict_items([('name', 'sanidhya'), ('gender', 'male'), ('age', 33)])

In [ ]:
# len/sorted
print(len(d))
print(d)
print(sorted(d))
max(d)

3
{'name': 'sanidhya', 'gender': 'male', 'age': 33}
['age', 'gender', 'name']

'name'

In [ ]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'sanidhya', 'gender': 'male', 'age': 33}
dict_items([('name', 'sanidhya'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['sanidhya', 'male', 33])

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension



![image.png]()

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances.items()

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [ ]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}