*args , **kwargs

 "*args"
 **kwargs are special python keywords that are used to pass the variable length of arguments to a function

In [ ]:
# * args
def mutiply(*values):
  product=1
  for i in values:
    product = product*i;

  print()
  return product

In [ ]:
mutiply(2,3,4,5,6,5,3,2,5,2,45,3,5,2,5,2,6,7,7)

857304000000

In [ ]:
type(mutiply)

function

In [ ]:
# * args
def mutiply(**args):
  # product={"key":1,"name":"ashu"}
  for i in args:
    return args

In [ ]:
mutiply(first="Geeks")

{'first': 'Geeks'}

In [ ]:
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)


# Now we can use both *args ,**kwargs
# to pass arguments to this function :
myFun('geeks', 'for', 'geeks','rakesh',"rohan", first="Geeks", mid="for", last="Geeks",name="rakesh")

SyntaxError: ignored

In [ ]:
l=[1,2,3]
print(l.append(4))
print(l)

None
[1, 2, 3, 4]

In [ ]:
def g(y):
  print(x)
  print(x+1)
x=5
g(x)
print(x)

5
6
5

In [ ]:
def f():
    print("hello world")
    f()
    print("hello")

In [ ]:
# lambda funtion

In [ ]:
a=16
b=4
c=a+b
print(c)

20

In [ ]:
ashu(16,5)

21

In [ ]:
def ashu(a,b):
  return a+b

In [ ]:
def add(a,b):
  print(a+b)

In [ ]:
add(23,3)

26

In [ ]:
lambda a,b : a+b

In [ ]:
sum(2,7)

9

In [ ]:
onlyerrorsrdd = logfilesrdd.filter(lambda line: "ERROR" in line)

In [ ]:
str = "hello my name is"

In [ ]:
st = str.split()

In [ ]:
print(st)

['hello', 'my', 'name', 'is']

In [ ]:
def find(str):
   for i in st:
     i in ["hello"]
     print(i)

In [ ]:
find(str)

hello
my
name
is

In [ ]:
def name(a,b,c,d):
  return a+b+c+d

a lambda function is a small anonymous
function


a lambda fuction can take any number of arguments but can have one expression

In [ ]:
b=lambda a,b : a*b

In [ ]:
b(3,5)

15

In [ ]:
lambda argumnets:expression

In [ ]:
a=lambda *x

In [ ]:
a(2,3,4,5,6)

TypeError: ignored

In [ ]:
lambda x,y,c,d:x*y*c*d
a(5,7,5,6)

1050

In [ ]:
name(1,2,3,4)

10

lambda function vs normal function

> No name

> no return

> value(infact,returns a function)

>lambda is a one liner function

>not reusable

In [ ]:
a=lambda s:"a" in s
a("hello")

False

In [ ]:
a= lambda x:"even" if x%2==0 else "odd"

In [ ]:
a(6)

'even'

In [ ]:
square = lambda x:x*x

In [ ]:
square(2)

4

In [ ]:
def square(x):
  return x*x

def cube(x):
  return x*x*x

In [ ]:
square(3)
a(4)

9

In [ ]:
cube(3)

27